<?xml version="1.0" encoding="utf-8" ?>
<!-- 
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
  <configSections>
    <section name="Mongo" type="MongoDB.Driver.Configuration.MongoConfiguration, MongoDB.Driver" />
  </configSections>
  <Mongo>
    <connections>
      <add key="mongoserver" connectionString="Server=localhost:27017"/>
    </connections>
  </Mongo>
    <appSettings>

    </appSettings>

    <connectionStrings>

    </connectionStrings>
</configuration>
